#page-header {
  background-color: $color-best;
  @include box-shadow-md;
  .header-wrapper {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// FOOTER
#page-footer {
  background-color: $color-secondary-2;
  @include box-shadow-md;
  .footer-wrapper {
    width: 100%;
    display: inline-block;
    padding: 1.5rem 0 2rem;
    text-align: center;
    color: $color-best;
  }
}
