// BODY-WRAPPER
.body-wrapper {
  width: 100%;
  overflow: hidden;
}

// CONTAINER
.container {
  width: 120rem;
  margin: 0 auto;

  @include respond-mediaQuery(ipad) {
    width: 100%;
    padding: 0 2rem;
  }

}

// PAGE-SECTION
.page-section {
  padding: 5rem 0;
}

// HEADINGS
h1.heading-primary {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  font-family: inherit;
}

h2.heading-secondary {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 4rem 0;
  font-weight: bold;
  color: $color-least;
}

h3.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 800;
  color: $color-secondary-1;
  margin: 0 0 1.5rem;
}

// BUTTONS
.btn {
  font-family: inherit;
  font-size: 1.8rem;
  line-height: initial;
  border: none;
  padding: 1rem 2.5rem;
  color: $color-best;
}

// SECTION-HEADER
.section-header {
  padding: 3rem 0 5rem;

}

// PRODUCT-ITEM
.product-item-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin: 0 -1rem;
}

// BREADCRUMB
.breadcrumb {
  a {
    color: $color-secondary-3;

    &:hover {
      color: $color-secondary-1;
    }
  }

  .seperator {
    height: 15px;
    width: 1px;
    background-color: $color-secondary-3;
    display: inline-block;
    transform: rotate(28deg);
    -webkit-transform: rotate(28deg);
    -moz-transform: rotate(28deg);
    -ms-transform: rotate(28deg);
    -o-transform: rotate(28deg);
    margin-left: 1rem;

  }

  li {
    display: inline-flex;
    align-items: center;
    padding-right: 1rem;
    position: relative;
    color: $color-secondary-3;
    font-size: 1.4rem;

    &.active {
      color: $color-least;
    }
  }
}