// COLORS
$color-primary-1: #fa6755;

$color-secondary-1: #2f2f40;
$color-secondary-2: #404057;
$color-secondary-3:#848485;

$color-tertiary-1: #ccc;
$color-tertiary-2: #b4b4c8;

$color-best: #fff;
$color-least: #0a0a0a;
$color-danger: #f41e5e;
$color-info: #54c5ff;

// FONTS
$font-weight: ('regular': 400,
  'medium': 600,
  'bold': 800,
);

$font-family: ('font-primary': 'Poppins',
);